{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<div class="row">
    <div class=" col-md-4">

     <img src="{% static "images/unicorn.png" %}"/>
    </div>
    <div class=" col-md-4">
        <h1 align="center" >Unicorn Attractor</h1>
        <h2 align="center">Support Django Syntax</h2>
        <h3 align="center">Codec Django</h3>
        <p> Application helps the WeB Developer to develop the Web Site and shows the bugs or buy the Ticket features </p>
        <h4>First Register or Login  your account</h4>

    </div>
    <div class=" col-md-4">

        <img src="{% static "images/error.jpg" %}"/>
    </div>
</div>
   <div class="row">
       <div class="col-md-4">
          <img src="{% static "images/bug.jpg" %}"/>
       </div>
       <div class="col-md-4">
           <img src="{% static "images/ticket.jpg" %}"/>
       </div>
       <div class="col-md-4">
           <img src="{% static "images/buyticket.jpg" %}"/>
       </div>
   </div>
  <div class="row">
    <div class="col-md-4">
        <h2 style= "color:red;">BUG </h2>
        <p>The bug describes the error and vote FREE your TICKET</p>
    </div>
    <div class="col-md-4">
        <h2 style= "color:black;">TICKET</h2>
        <p>Create your Ticket and vote your Bug or Feature </p>
    </div>
    <div class="col-md-4">
        <h2 style= "color:blu;">FEATURE</h2>
        <p>Vote your Feature and contribute with a amonut of money</p>
    </div>



  </div>
{% endblock %}