{% extends "base.html" %}
{% block content %}
{% load bootstrap_tags %}
{% load staticfiles %}


    <div class="row">
        <div class="col-md-12">
            <img src="{% static "images/unicorn.png" %}"/>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
               <h3>{{ post.name }}</h3>
        </div>
    </div>
      <div class="row">
        <div class="col-md-3">
              <h2>{{ post.type }}</h2>
              <p>{{ post.content }}</p>
              {% load disqus_tags %}
              {% set_disqus_title post.title %}
              {% disqus_show_comments %}
        </div>
                <div class="col-md-3">
                    `{% if user.id ==  post.id %}`
                         <p><button class="btn btn-default" onclick="location.href={% url 'edit' post.id %}">Edit</button></p>
                         <p><button class="btn btn-default" onclick="location.href={% url 'delete' post.id %}">Delete</button></p>
                    {% endif %}

                </div>
                 <div class="col-md-3">
                     <h3>Vote your Ticket</h3>
                      {{ post.date }}
                      <p><a class="btn btn-default" href="{% url 'create_vote' post.id %}">Vote ({{ votes_for_ticket.count }})</a></p>
                 </div>
                <div class="col-md-3">
                    <a
                        class="btn btn-info pull-right"
                        href="{% url 'tickets_list'  %}">
                         Back to List
                     </a>
                </div>
         </div>



{% endblock %}